<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/Application/config/bootstrap.php">
    <testsuites>
        <testsuite name="BitBagSyliusAmazonPayPlugin Test Suite">
            <directory>tests</directory>
        </testsuite>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
    </testsuites>

    <php>
        <server name="KERNEL_CLASS_PATH" value="/tests/Application/AppKernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="9757207ee812063f4a21ab5aae31ab92"/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>
</phpunit>
