<div id="AmazonPayButton"></div>

<script type='text/javascript'>
    window.onAmazonLoginReady = function () {
        try {
            amazon.Login.setClientId("amzn1.application-oa2-client.46d27733e6044b08860955d63511ad19");
            amazon.Login.setUseCookie(true);
        } catch (err) {
            alert(err);
        }
    };

    window.onAmazonPaymentsReady = function () {
        var authRequest;
        OffAmazonPayments.Button("AmazonPayButton", "A5445N2KWSM0Z", {
            type: "PwA",
            color: "Gold",
            size: "large",
            language: "en-GB",
            authorization: function() {
                loginOptions = { scope: "profile postal_code payments:widget payments:shipping_address", popup: true };
                authRequest = amazon.Login.authorize(loginOptions, "");
            },
            onError: function(error) {
            }
        });
    };
</script>
<script async="async" type='text/javascript'
        src='https://static-eu.payments-amazon.com/OffAmazonPayments/gbp/sandbox/lpa/js/Widgets.js'>
</script>
